@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
.input {
  @apply w-full rounded-lg border border-gray-300 px-4 py-2
         focus:outline-none focus:ring-2 focus:ring-blue-500;
}
